:host {
    padding: 16px 32px;
    display: flex;
    flex-direction: column;

    min-width: 264px;
    border-right: 1px solid #181d5a;
    box-shadow:
        0 0 2px #181d5a,
        0 0 6px #181d5a,
        0 0 8px #181d5a;
}
.logo {
    padding-bottom: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;

    font-size: 26px;
    font-weight: 800;
    letter-spacing: 3px;
}
.tabs {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
