<div class="layout">
    <div class="sidebar">
        <div class="logo">
            <img src="/assets/svg/logo/logo.svg" alt="Logo" />
            <div>Drochilo</div>
        </div>

        <div class="tabs">
            @for (tab of tabs(); track $index) {
                <app-sidebar-tab  [tab]="tab" />
            }
        </div>
    </div>
    <div class="content">
        <div class="header"></div>
        <div class="main">
            <router-outlet />
        </div>
    </div>
</div>
