:host {
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: flow 2.4s infinite;

    width: 150px;
    height: 150px;
    border-radius: 360px;
    background-image: url('/assets/gif/mwah-mwah-girls-kissing.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes flow {
    0%,
    100% {
        transform: scale(1);
    }
    33% {
        transform: scale(1.1);
    }
    66% {
        transform: scale(0.9);
    }
}
