@import "gridstack/dist/gridstack.min.css";

* {
    box-sizing: border-box;
    outline: 0 none;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #232323;

    min-height: 100vh;
    margin: 0;
    padding: 0;
    line-height: 1;
    width: auto;
    height: auto;
    min-width: 1280px;
}

body {
    background: #101829;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

// Кастомный скроллбар
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #1a1f2e;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(105deg, #0075ff, #1a1f37);
    border-radius: 10px;
}
